.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: vw(78);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: vw(1160);
  height: 100%;
  padding: vw(25) 0;
  border-bottom: vw(1) solid var(--color-header-border);
}

.header__logo {
  font-weight: 600;
  font-size: vw(22);
  line-height: vw(26);

  color: var(--color-white);

  span {
    font-weight: 400;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  &:not(:last-child) {
    margin-right: vw(60);
  }
}

.nav__link {
  position: relative;

  font-weight: 300;
  font-size: vw(14);
  line-height: vw(16);
  letter-spacing: 0.02em;

  color: var(--color-header-link);

  transition: color .25s ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: vw(-32);

    height: vw(2);
    background: var(--color-white);

    opacity: 0;
    transform: translateY(100%);
    transition: opacity .25s ease, transform .25s ease;
  }
}

.nav__link.is_active {
  font-weight: 600;
  color: var(--color-white);

  &::after {
    opacity: 1;
    transform: none;
  }
}