block galleryVars 
  - var galleryHeading = 'Галерея';



section.gallery#gallery
  .container.gallery__container 
    h2.gallery__heading.heading(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="100") #{galleryHeading}

    ul.gallery__list 
      li.gallery__item(data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="100")
        img.gallery__img(src="img/gallery/img1.png", alt="Изображение")
      li.gallery__item(data-aos="fade-down" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="200")
        img.gallery__img(src="img/gallery/img2.png", alt="Изображение")
      li.gallery__item(data-aos="fade-right" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="300")
        img.gallery__img(src="img/gallery/img3.png", alt="Изображение")
      li.gallery__item(data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="400")
        img.gallery__img(src="img/gallery/img4.png", alt="Изображение")
      li.gallery__item(data-aos="fade-left" data-aos-duration="700" data-aos-easing="ease" data-aos-delay="600")
        img.gallery__img(src="img/gallery/img5.png", alt="Изображение")