extends ./pug/_base

block content

  include ./pug/components/_header
  main
    include ./pug/components/_hero
    include ./pug/components/_static
    include ./pug/components/_travel
    include ./pug/components/_gallery
    include ./pug/components/_contacts
    include ./pug/components/_footer

  include ./pug/components/_js